{% extends 'adocao/base.html' %}

{% load static %}

{% load crispy_forms_tags %}
{% block texto %}
<div class="container py-5">
    <div class="row mt-5">
        <div class="col-lg-3">
            <h3>{{titulo}}</h3>

            {% if botao == 'Excluir' %}
            <h4>{{ object }}</h4>
            {% endif %}
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-3">
          
            <form method="post">
                <!--todo formulario tem que ter essa validação-->
                {% csrf_token %}

                <!--Gera o formulario-->
                {{ form|crispy }}

                <!--Cria um botãopara submeter o form e outro p/ voltar-->
                <button type="submit" class="btn btn-danger">
                    {{botao}}
                </button>

                <a href="{% url 'index' %}" class="btn btn-secondary">Voltar</a>

            </form>

        </div>
    </div>
</div>

{% endblock %}