{% extends 'adocao/base.html' %}

{% load static %}

{% block texto %}
<div class="container py-5">
    <div class="row mt-5">
        <div class="col-lg">
           <h3 class="border-bottom">
            Lista de Estados Cadastrados

            <a href="{% url 'cadastrar-estado' %}" class="float-right btn btn-danger btn-sm">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                Novo Estado
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg">
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th>Nome</th>
                      <th>Nascimento</th>
                      <th>E-mail</th>
                      <th>Endereço</th>
                      <th>Cidade</th>
                      <th>Opções</th>
                    </tr>
                </thead>

                <tbody>
                    {% for pessoa in object_list %}
                    <tr>
                        <td>{{ pessoa.nome }}</td>
                        <td>{{ pessoa.nascimento }}</td>
                        <td>{{ pessoa.email }}</td>
                        <td>{{ pessoa.endereco }}</td>
                        <td>{{ pessoa.cidade }}</td>
                        <td>
                            <a href="{% url 'editar-pessoa' pessoa.pk %}" class="btn btn-outline-danger btn-sm">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a href="{% url 'deletar-pessoa' pessoa.pk %}" class="btn btn-outline-danger btn-sm">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">Nenhuma Pessoa cadastrada!</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>

{% endblock %}
