{% extends 'adocao/base.html' %}

{% load static %}

{% block texto %}

<div class="container py-5">

    <div class="row mt-5">
        <div class="col-lg">

            <h3 class="border-bottom">
                Lista de Acervo cadastrados

                <a href="{% url 'cadastrar-acervo' %}" class="float-right btn btn-primary btn-sm">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    Novo Acervo
                </a>
            </h3>

        </div>
    </div>

    <div class="row">
        <div class="col-lg mt-4">

            <table class="table table-striped">

                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Genero</th>
                        <th>Descrição</th>
                        <th>Opções</th>
                    </tr>
                </thead>

                <tbody>

                    {% for obj in object_list %}
                    <tr>
                        <td>{{ obj.titulo }}</td>
                        <td>{{ obj.genero }}</td>
                        <td>{{ obj.descricao }}</td>
                        <td>
                            <a href="{% url 'editar-acervo' obj.pk %}" class="btn btn-outline-warning btn-sm">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>

                            <a href="{% url 'deletar-acervo' obj.pk %}" class="btn btn-outline-danger btn-sm">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="100%">Nenhum cadastrado realizado</td>
                    </tr>
                    {% endfor %}

                </tbody>

            </table>

        </div>
    </div>

</div>

{% endblock %}
