{% extends 'adocao/base.html' %}
{% load static %}

{% block header %}
{{ block.super }}

{% endblock %}
{% block texto %}

<section class="service-area-2 section_gap">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-lg-6">
					<div class="service-2-left">
						<div class="get-know">
							<h1 class="df-color">Você deseja saber tudo sobre a melhor Biblioteca Digital?</h1>
							<p>O intuito é faturar um notazo, em outras palavras um conceito " TOPEN TOPEN TOPEN ", para obtermos aquele sonhado canudinho.
                Entretanto neste sonho também pensamos em você, incentivando a leitura, a procurar de conhecimento, a liberdade de expressão,
                para você plantar novas palavras, histórias, junto com conosco. </p>
						</div>
						</div>

						<h1 class="df-color">Diagrama de Classe: </h1>
						<p>O sistema irá seguir o seguinte Digrama de Classe, onde o leitor tem toda liberdade para nos enviar suas literaturas,
							que será avaliada e ápos aprovação será publicadas, além d epoder comentar expressando suas opinião sobre nosso acervo.[...]
							 <img  src="{% static 'img/diagrama.png'%}" alt="">

						</p>

					</div>
				</div>

			</div>
		</div>
	</section>


{% endblock %}
